services:
  nwero-bingo:
    container_name: nwero-bingo
    hostname: nwero-bingo
    build: .
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - ./public/data:/app/dist/data:ro
      - ./public/assets/artworks:/app/dist/assets/artworks:ro

networks:
  proxy:
    name: "proxy"
    external: true