<!DOCTYPE html>
<html>
    <head>
        <title>Nwero Bingo</title>
        <meta name="description" content="A fun game to play during neuro streams!">
        <meta name="theme-color" content="#f58796">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Nwero Bingo">
        <meta property="og:url" content="https://nwero.net/">
        <meta property="og:description" content="A fun game to play during neuro streams!">

        <link rel="manifest" href="/manifest.json" />
        <link rel="stylesheet" href="/bundle.css" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    <body>
        hi i'm a bingo website. i will look better soon please trust<br/>
        currently not optimised for mobile but i literally built this<br/>
        between the dev stream and this stream. pls be patient!
        
        <div class="bingo-container"></div>
        <script src="/bundle.js"></script>
    </body>
</html>