# Just blocks some backups of old prompts for my personal reference from hitting production.

streams/solo/neuro_v1.json
streams/solo/evil_v1.json
# Old Neuro + Evil prompts, replaced with v2 prompts on 2025-04-29