@font-face {
  font-family: FirstCoffee;
  src: url(/assets/FirstCoffee.otf) format("opentype");
  ascent-override: 120%;
}

// Assign variables here so they can be overridden via a class.
body {
  --text-color: black;
  --body-bg: #f58796;
  --header-bg: #f25a6e;
  --modal-bg: #ffe2ec;
  --modal-border: #d1a2b3;
  --card-bg-light: #ffe2ec;
  --card-bg-dark: #ffccdd;
  --card-text-light: black;
  --card-text-dark: black;
  --card-bg-active: #7aff7a;
  --card-text-active: black;
  --card-bg-artwork: #ffffff;
  --card-border: #d1a2b3;
  --link-color: rgb(0, 0, 238);
  --invert: 1
}

body.dark {
  --text-color: white;
  --body-bg: #5e0813;
  --header-bg: #47060e;
  --modal-bg: #4d001b;
  //--modal-border: #24000c;
  --modal-border: #0f0005;
  --card-bg-light: #4d001b;
  --card-bg-dark: #390014;
  --card-text-light: white;
  --card-text-dark: white;
  --card-bg-active: green;
  --card-text-active: white;
  --card-bg-artwork: #000000;
  --card-border: #0f0005;
  --link-color: aqua;
  --invert: 0;
}

body.hiyori {
  --body-bg: #9f9f9f !important;
  --header-bg: #7c7c7c !important;
}

body.hiyori.dark {
  --body-bg: #1b1b1b !important;
  --header-bg: #141414 !important;
}

body {
  color: var(--text-color);
  background-color: var(--body-bg);
  font-family: FirstCoffee !important;
  margin: 0;
  padding: 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.overlay.active {
  display: initial;
}

.modal-container {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
}

.modal-container.active {
  display: flex;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 300px;
  position: absolute;
  //top: calc(50% - (300px / 2));
  //left: calc(50% - (450px / 2));
  background-color: var(--modal-bg);
  border: 3px solid var(--modal-border);
  border-radius: 30px;
  z-index: 2;
  text-align: center;
}

@media (max-width: 550px) {
  .modal {
    width: 300px;
    left: calc(50% - (300px / 1.7142857142857142));
  }
}

.modal-close {
  position: absolute;
  right: -0.5%;
  top: -0.5%;

  width: 30px;
  height: 30px;
  cursor: pointer;

  //background-color: #ffccdd;
  color: var(--text-color);
  background-color: var(--modal-bg);
  border: 3px solid var(--modal-border);
  font-family: FirstCoffee !important;
  border-radius: 100%;
}

.modal-content > * {
  margin: 4px;
  padding: 2px;
}

.modal-prompt {
  border-bottom: 3px solid var(--modal-border);
}

.modal-image {
  height: 260px;
}

.modal-bottom {
  border-top: 3px solid var(--modal-border);
}

.modal-bottom > * {
  margin: 4px;
  padding: 2px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: var(--header-bg);
}

header a {
  display: flex;
  color: var(--text-color);
  align-items: center;
  text-decoration: none;
}

@media (min-width: 768px) {
  header a {
    margin-right: auto;
    margin-bottom: 0;
  }
}

header a img {
  width: 32px;
  height: 32px;
  padding: 5px;
}

header a span {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  header a span {
    font-size: 1.5rem;
  }
}

header ul {
  display: flex;
  margin-top: 0;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

header ul li a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s;
}

header ul li .theme-switcher {
  padding: 0.311rem 1rem 0rem 1rem;
  cursor: pointer;
}

header ul li .theme-switcher img {
  padding: 0;
  width: 32px;
  height: 32px;
}

.bingo-title {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.bingo-description {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.28em;
  position: relative;
  top: -10px;
  margin-bottom: 10px;
}

.bingo-instructions {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.28em;
}

.bingo-container {
  width: fit-content;
  font-size: 1.5rem;

  margin-left: auto;
  margin-right: auto;
}

.bingo-row {
  user-select: none;
  display: flex;
  flex-wrap: nowrap;
  margin-right: calc(-0.5 * 0);
  margin-left: calc(-0.5 * 0);
}

.bingo-item {
  flex: 0 0 auto;
  width: 20%;
  max-width: 100%;
  padding: 0 5px;
  min-height: 130px;
  min-width: 200px;
  max-width: 200px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--card-border);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    background-color 0.15s ease-in-out,
    color 0.15s ease-in-out;
}

.bingo-item span {
  overflow: hidden;
}

.bingo-item:has(.bingo-image) {
  background-color: var(--card-bg-artwork) !important;
}

.bingo-image {
  overflow: hidden;
  height: 130px;
}

.bingo-image.invert {
  filter: invert(var(--invert));
}

.bingo-image.stretch {
  object-fit: fill;
  width: 100%;
}

.bingo-item:has(.bingo-image.stretch) {
  padding: 0;
  min-width: 210px;
  max-width: 210px;
}

.emote {
  height: 32px;
  position: relative;
  top: 8px;
}

// Credit: Cornlakes (megacornflakes) [https://github.com/megacornflakes]
.bingo-item {
  background-color: var(--card-bg-light);
  color: var(--card-text-light);
}

.bingo-item.active {
  --card-bg-light: var(--card-bg-active);
  --card-bg-dark: var(--card-bg-active);
  --card-text-light: var(--card-text-active);
  --card-text-dark: var(--card-text-active);
}

.bingo-row:nth-child(odd) .bingo-item:nth-child(odd),
.bingo-row:nth-child(even) .bingo-item:nth-child(even) {
  background-color: var(--card-bg-dark);
  color: var(--card-text-dark);
}

a {
  color: var(--link-color);
}
