@import "../node_modules/bootstrap/scss/bootstrap";

.bingo-row {
    user-select: none;
    display: flex;
    flex-wrap: nowrap;
    margin-top: calc(-1 * 1.5rem);
    margin-right: calc(-0.5 * 0);
    margin-left: calc(-0.5 * 0);
}

.bingo-item {
    flex: 0 0 auto;
    width: 20%;
    max-width: 100%;
    padding-right: calc(0 * 0.5);
    padding-left: calc(0 * 0.5);
    margin-top: 1.5rem;
    min-height: 130px;
    min-width: 140px;
    max-width: 140px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bingo-item.active {
    background-color: rgb(122, 255, 122);
}